* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: rgba(58, 56, 52, 0.178);
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.image1 {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

header h2 {
    margin-left: 10px;
    display: inline;
}

header i {
    display: inline;
}

.button {
    display: flex;
    gap: 10px;
}

.button a {
    text-decoration: none;
    color: black;
}

.button button {
    font-size: 16px;
    font-weight: bold;
    background-color: grey;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: rgb(165, 185, 185);
    height: 60px;
    width: 100%; 
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}

p {
    margin-left: 30px;
}